<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 user-scalable=no">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <title>麦德福移动报货助手</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css?v=0.2123122" %}">
    <link rel="stylesheet" href="{% static "css/loading.css" %}">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static "js/loading.js" %}"></script>
    <script src="{% static "js/modal.js?v=0.8322131" %}"></script>
    <script src="{% static "js/common.js?v=0.8221231232123331" %}"></script>
</head>
<body>
{% include "store/home.html" %}
{% include "store/daily.html" %}
{% include "store/history.html" %}
{% include "store/setting.html" %}
{% include "store/foot.html" %}
{% include "store/component.html" %}
</body>
</html>