{% comment %}商品类别列表 使用动态渲染{% endcomment %}
<div id="catalogs" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="row text-center catalogs-row">
                    <ul class="list-group" id="catalogs-row">
                    </ul>
                    <button class="btn-customer">确认选择</button>
                </div>
            </div>
        </div>
    </div>
</div>