{% comment %}底部导航栏{% endcomment %}
<nav class="navbar navbar-default navbar-fixed-bottom nav-foot">
    <div class="container-fluid" id="bottom-nav">
        <div class="col-xs-3 text-center"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><br>主页</div>
        <div class="col-xs-3 text-center"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <br>报货
        </div>
        <div class="col-xs-3 text-center"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> <br>历史
        </div>
        <div class="col-xs-3 text-center"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> <br>清单
        </div>
    </div>
</nav>