{% comment %}水果页面{% endcomment %}
<div class="container" id="page_3">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h3 class="page-title">水果</h3>
        </div>
    </div>
    <hr>
    <div class="panel page-panel">
        <div class="row" id="vegetable-title">
            <div class="col-xs-5 text-center">名称</div>
            <div class="col-xs-4 text-center">数量</div>
            <div class="col-xs-3 text-center">单位</div>
        </div>
        <div class="row" id="vegetable-table">
            <div class="col-xs-5 text-center">
                <a class="btn btn-default" href="#" onclick="showItems()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true" onclick="showCatalogs(1)">增加</span>
                </a>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control text-center">
            </div>
            <div class="col-xs-3 text-center">
                <a class="btn btn-default" href="#">框</a>
            </div>
        </div>
        <br><br><br>
    </div>
</div>