{% comment %}主页{% endcomment %}
<div class="container page-content text-center" id="page_0">
    <h3>麦德福移动报货助手</h3>
    <h4>门店版</h4>
    <h4>{{ store_name }}</h4>
    <h5>{{ staff_name }}</h5>
    <div id="main-info">
        <div>须知:</div>
        <hr>
        <div>
            请遵循以下流程进行报货
            <br>
            1.选择报货种类和数量
            <br>
            2.生成报货清单
            <br>
            3.确认上报
            <br>
            4.每天多次报货按照累加计算
            <br>
            5.每天报货不得超过规定时限
        </div>
    </div>
    <div id="copyright">Copyright xx 2016 version 1.0</div>
</div>
